/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-cta_arrow1 {
  background-image: url(sprite.png);
  background-position: -807px -1000px;
  width: 14px;
  height: 15px;
}
.icon-cta_copy {
  background-image: url(sprite.png);
  background-position: -600px -1000px;
  width: 207px;
  height: 23px;
}
.icon-fr1_copy_a {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 600px;
  height: 500px;
}
.icon-fr1_copy_b {
  background-image: url(sprite.png);
  background-position: -600px 0px;
  width: 600px;
  height: 500px;
}
.icon-mcSide_front_light {
  background-image: url(sprite.png);
  background-position: 0px -500px;
  width: 600px;
  height: 500px;
}
.icon-mcSide_main {
  background-image: url(sprite.png);
  background-position: -600px -500px;
  width: 600px;
  height: 500px;
}
.icon-mcSide_rear_light {
  background-image: url(sprite.png);
  background-position: -1200px 0px;
  width: 600px;
  height: 500px;
}
.icon-mcSide_shadows {
  background-image: url(sprite.png);
  background-position: -1200px -500px;
  width: 600px;
  height: 500px;
}
.icon-mini_logo_sm_300x250 {
  background-image: url(sprite.png);
  background-position: 0px -1000px;
  width: 600px;
  height: 500px;
}
