doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        block main
        style.
          body {
          margin:0px; padding:0px;
          }
          * { Box-sizing: Border-box }
        link(rel='stylesheet', href='style.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js')
        script(src='https://s0.2mdn.net/ads/studio/Enabler.js')
        script(type='text/javascript', src='main.js')
    body
        .container
